models/
__pycache__
data/en-si/NLLB.en-si.en:Zone.Identifier
data/en-si/NLLB.en-si.en
data/en-si/NLLB.en-si.si
data/en-si/sin_Sinh.dev
data/en-si/eng_Latn.dev
data/en-si/eng_news_2024_30K-sentences.txt
data/en-si/sin_wikipedia_2021_30K-sentences.txt 